html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: rgb(14, 14, 14);
  }
.matrix-container {
  position: fixed;
  inset: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 36px; /* needs to be exact with const fontSize */
  line-height: 1;
  font-family: monospace;
  user-select: none;
}
.matrix-child {
  margin: 0;
  padding: 0;
  line-height: 1;
  width: auto;
  font-family: monospace; /* needs to be a monospaced typefont! */
  display: inline-block;
  user-select: none;
  display: inline-block;
}
@keyframes shimmer {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
.shimmer {
  animation-name: shimmer;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition-duration: ease;
}
